body {
  /* background-color: aqua; */
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keys {
  width: 700px;
  height: 300px;
  background-color: aquamarine;
  border: 1px solid red;
  padding: 30px 0 7px 0;
  content: '';
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.white-keys {
  display: flex;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  align-items: flex-end;
}

.white-key {
  background-color: beige;
  width: 50px;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.black-keys {
  background-color: transparent;
  display: flex;
  padding-top: 31px;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.black-key {
  position: absolute;
  background-color: black;
  width: 35px;
  height: 100%;
  transform: translateX(-50%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
